/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.middle-alignment {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px solid red;
}
.h2-style {
  font-size: 2rem;
  color: #19c8eb;
  margin-bottom: 3%;
}
.middle-context {
  font-size: 1rem;
  color: rgba(5, 5, 5, 0.904);
  font-family: Georgia;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  align-items: center;
  width: 100%;
  height: 80px;
}
nav a {
  font-family: Georgia;
  color: rgba(5, 5, 5, 0.904);
  text-decoration: none;
}
.header {
  display: flex;
  background: lightgray;
  margin-bottom: 3%;
}
.header img {
  width: 16%;
}
.header .aboutMe {
  display: flex;
  flex-wrap: wrap;
  font-family: Georgia;
  color: #19c8eb;
  padding: 2%;
}
.header .aboutMe h1 {
  font-size: 2.8rem;
  margin-bottom: 3%;
  font-family: Georgia;
}
.header .aboutMe p {
  color: rgba(5, 5, 5, 0.904);
  margin-bottom: 3%;
  font-family: Georgia;
}
.header .aboutMe button {
  font-family: Georgia;
  color: rgba(5, 5, 5, 0.904);
  font-size: 0.8rem;
  border: 1px solid black;
  border-radius: 7%;
  height: 30px;
  width: 8%;
}
.top-middle-border {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.top-middle-border .introduction {
  width: 48%;
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
}
.top-middle-border .introduction h2 {
  font-size: 2rem;
  color: #19c8eb;
  margin-bottom: 3%;
}
.top-middle-border .introduction p {
  font-size: 1rem;
  color: rgba(5, 5, 5, 0.904);
  font-family: Georgia;
}
.top-middle-border .skills {
  width: 48%;
  display: flex;
  flex-direction: column;
  border: 1px solid green;
}
.top-middle-border .skills h2 {
  font-size: 2rem;
  color: #19c8eb;
  margin-bottom: 3%;
}
.top-middle-border .skills ul li {
  font-size: 1rem;
  color: rgba(5, 5, 5, 0.904);
  font-family: Georgia;
}
.work-history {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.work-history h2 {
  font-size: 2rem;
  color: #19c8eb;
  margin-bottom: 3%;
}
.work-history table {
  width: 50%;
  height: 100px;
  border: 1px solid black;
}
.work-history table th {
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}
.work-history table td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}
