.header {
    display: flex;
    background: lightgray;
    margin-bottom: 3%;
    img {
        width: 16%;
    }
    .aboutMe {
        display: flex;
        flex-wrap: wrap;
        font-family: @fonttext;
        color: @headercolor;
        padding: 2%;
        h1 {
            font-size: 2.8rem;
            margin-bottom: 3%;
            font-family: @fonttext;
        }
        p {
                color: @contextcolor;
                margin-bottom: 3%;
                font-family: @fonttext;
            }
        button {
            font-family: @fonttext;
            color: @contextcolor;
            font-size: 0.8rem;
            border: 1px solid black;
            border-radius: 7%;
            height: 30px;
            width: 8%;
        
        }
    }
}

.top-middle-border {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    .introduction {
        .middle-alignment();
        h2 {
            .h2-style();
        }
        p {
            .middle-context();
        }
    }
    .skills {
        .middle-alignment();
        .content {
            display: flex;
            align-items: center;
            flex-direction: column;
            border: 1px solid black;
            width: 20%;
            height: 170px;
        }
        h2 {
            .h2-style();
        }
        ul {
            .middle-context();
        }
    }
}

/*.work-history {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid green;
    height: 300px;
    h2 {
        .h2-style();
    }*/
    /*.table-border {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        .table {
            display: flex;
            flex-direction: colunn;
            align-items: center;
            width: 100%;
            margin: 0 auto;
            border: 1px solid blue;
            tr {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly
            }
        }
    }
}*/
    .work-history {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        h2 {
            .h2-style();
        }
        table {
            width: 50%;
            height: 100px;
            border: 1px solid black;
            th {
                text-align: center;
                border: 1px solid black;
                border-collapse: collapse;
            }
            td {
                border: 1px solid black;
                border-collapse: collapse;
                text-align: center;
            }
        }
    }